@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Noto+Sans+JP:wght@100..900&display=swap");

:root {
  --primary: #3B5362;
  --secondary: #CD1F56;
  --background: #040F1D;
  --white: #fff;
  --black: #252525;
  --primary-dark: #1D2131;
  --primary-light: #658090;
  --light-beige: #B69385;
  --light: #f8f9fa;

  --breakpoint: false;

  @media (min-width: 768px) {
    --breakpoint: true;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--white);
  font-family: "Lexend Deca", "Noto Sans JP", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: var(--primary);
  text-decoration: none;
  background-color: transparent;
}

img {
  max-width: 100%;
}

input, textarea {
  width: 100%;
}

/*  ========================================================================== */
/* header */
/*  ========================================================================== */

/* ハンバーガーメニュー */
.header-nav {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background: var(--light-beige);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: .5s;
  z-index: 3;
}

.open .header-nav {
  left: 0;
}

.header-nav .header-menu {
  padding: 25px;
}

.header-nav .header-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav .header-menu ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
}

.header-nav .header-menu ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}

.header-nav .header-menu ul li a:hover {
  background: #e4e4e4;
}

@media screen and (max-width: 767px) {
  .header-nav {
    left: -240px;
    width: 240px;
  }
}

/* btn */
.header-btn {
  position: relative;
  width: 68px;
  height: 68px;
  cursor: pointer;
  z-index: 100;
}

.header-btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  border-radius: 2px;
}

.header-btn, .header-btn span {
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
  border: 2px solid;
  border-color: transparent #fff #fff transparent;
  border-radius: 0 0 30px 0;
}

.header-btn span:nth-of-type(1) {
  top: 14px;
  left: 10px;
  width: 44px;
}

.header-btn span:nth-of-type(2) {
  top: 28px;
  left: 10px;
  width: 36px;
}

.header-btn span:nth-of-type(3) {
  top: 42px;
  left: 10px;
  width: 28px;
}

#headerNav .header-btn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: '';
  width: 56px;
  height: 56px;
  margin: -45px 0 0 -45px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all .75s;
}

#headerNav.open .header-btn span {
  background-color: var(--primary);
}

#headerNav.open .header-btn span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}

#headerNav.open .header-btn span:nth-of-type(2) {
  left: 60%;
  opacity: 0;
  -webkit-animation: open-headerNav-bar02 .8s forwards;
  animation: open-headerNav-bar02 .8s forwards;
}

@-webkit-keyframes open-headerNav-bar02 {
  100% {
    height: 0;
  }
}

@keyframes open-headerNav-bar02 {
  100% {
    height: 0;
  }
}

#headerNav.open .header-btn span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
}

#headerNav.open .header-btn::after {
  -webkit-animation: open-headerNav .7s .25s forwards;
  animation: open-headerNav .7s .25s forwards;
}

@-webkit-keyframes open-headerNav {
  0% {
    border-color: transparent;
    -webkit-transform: rotate(0);
  }

  25% {
    border-color: transparent var(--primary) transparent transparent;
  }

  50% {
    border-color: transparent var(--primary) var(--primary) transparent;
  }

  75% {
    border-color: transparent var(--primary) var(--primary) var(--primary);
  }

  100% {
    border-color: var(--primary);
    -webkit-transform: rotate(-680deg);
  }
}

@keyframes open-headerNav {
  0% {
    border-color: transparent;
    transform: rotate(0);
  }

  25% {
    border-color: transparent var(--primary) transparent transparent;
  }

  50% {
    border-color: transparent var(--primary) var(--primary) transparent;
  }

  75% {
    border-color: transparent var(--primary) var(--primary) var(--primary);
  }

  100% {
    border-color: var(--primary);
    transform: rotate(-680deg);
  }
}

/* mask */
#mask {
  display: none;
}

.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--light-beige);
  opacity: .8;
  z-index: 2;
  cursor: pointer;
  transition: all .5s;
}