@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
  --primary: #3B5362;
  --secondary: #CD1F56;
  --background: #040F1D;
  --white: #fff;
  --black: #252525;
  --primary-dark: #1D2131;
  --primary-light: #658090;
  --light-beige: #B69385;
  --light: #d9d9d9;

  --breakpoint: false;

  @media (min-width: 768px) {
    --breakpoint: true;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
}

body {
  background: var(--background);
  color: var(--white);
  font-family: "Lexend Deca", "Noto Sans JP", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 300;
  letter-spacing: 2px;
  min-height: 1000px;
}

a {
  color: var(--primary);
  text-decoration: none;
  background-color: transparent;
  transition: .4s;
}

h1, h2 {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 3px;
}

.small {
  font-size: 70%;
}

.ls0 {
  letter-spacing: 0;
}

.pc {
  display: none;
}

@container style(--breakpoint: true) {
  .sp {
    display: none;
  }

  .pc {
    display: block;
  }
}

/* ========================================================================== */
/* animation */
/* ========================================================================== */
/* 下からふわっと */
.fade-in-up {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in-up.is-active {
  opacity: 1;
  transform: translateY(0);
}

/* 下からふわっと（時間差） */
.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-up {
  transform: translateY(30px);
}

.fade.is-active {
  opacity: 1;
  transform: translateY(0);
}

/* 戻る時は遅延させない */
.fade:not(.is-active) {
  transition-delay: 0s;
}

/* 右からふわっと */
.fade-in-right {
  opacity: 0;
  transform: translateX(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in-right.is-active {
  opacity: 1;
  transform: translateX(0);
}

/* ========================================================================== */
/* header */
/* ========================================================================== */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 100;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

#header.is-scrolled {
  background-color: var(--primary);
}

#headerNav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* ハンバーガーメニュー */
.nav-area {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background: var(--primary);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: .5s;
  z-index: 99;
}

.open .nav-area {
  left: 0;
}

.nav-area {
  left: -240px;
  width: 240px;
}

/* メニュー */
.nav-menu {
  margin: 80px 0 10px;
}

.nav-menu ul li {
  position: relative;
  margin: 0;
}

.nav-menu_list {
  display: flex;
  flex-direction: column;
}

.nav-menu_list li {
  width: 100%;
  text-align: left;
}

.nav-menu ul li a {
  display: block;
  color: var(--white);
  font-size: 18px;
  padding: 16px 0 16px 36px;
  letter-spacing: 3px;
}

.nav-menu ul li a img {
  width: 36px;
}

.nav-menu_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 28px;
}

ul.nav-menu_icon li a {
  padding: 10px;
}

ul.nav-menu_icon li a img {
  width: 24px;
}

/* btn */
.nav-btn {
  position: relative;
  width: 68px;
  height: 68px;
  cursor: pointer;
  z-index: 100;
}

.nav-btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  border-radius: 2px;
}

.nav-btn, .nav-btn span {
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
}

.nav-btn span:nth-of-type(1) {
  top: 15px;
  left: 13px;
  width: 40px;
}

.nav-btn span:nth-of-type(2) {
  top: 28px;
  left: 13px;
  width: 32px;
}

.nav-btn span:nth-of-type(3) {
  top: 41px;
  left: 13px;
  width: 24px;
}

#headerNav .nav-btn::after {
  position: absolute;
  top: 80%;
  left: 80%;
  display: block;
  content: '';
  width: 48px;
  height: 48px;
  margin: -45px 0 0 -45px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all .75s;
}

#headerNav.open .nav-btn span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  top: 13px;
  left: 18px;
  width: 30px;
}

#headerNav.open .nav-btn span:nth-of-type(2) {
  left: 60%;
  opacity: 0;
  -webkit-animation: open-headerNav-bar02 .8s forwards;
  animation: open-headerNav-bar02 .8s forwards;
}

@-webkit-keyframes open-headerNav-bar02 {
  100% {
    height: 0;
  }
}

@keyframes open-headerNav-bar02 {
  100% {
    height: 0;
  }
}

#headerNav.open .nav-btn span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  top: 53px;
  left: 18px;
  width: 30px;
}

#headerNav.open .nav-btn::after {
  -webkit-animation: open-headerNav .7s .25s forwards;
  animation: open-headerNav .7s .25s forwards;
}

@-webkit-keyframes open-headerNav {
  0% {
    border-color: transparent;
    -webkit-transform: rotate(0);
  }

  25% {
    border-color: transparent var(--white) transparent transparent;
  }

  50% {
    border-color: transparent var(--white) var(--white) transparent;
  }

  75% {
    border-color: transparent var(--white) var(--white) var(--white);
  }

  100% {
    border-color: var(--white);
    -webkit-transform: rotate(-680deg);
  }
}

@keyframes open-headerNav {
  0% {
    border-color: transparent;
    transform: rotate(0);
  }

  25% {
    border-color: transparent var(--white) transparent transparent;
  }

  50% {
    border-color: transparent var(--white) var(--white) transparent;
  }

  75% {
    border-color: transparent var(--white) var(--white) var(--white);
  }

  100% {
    border-color: var(--white);
    transform: rotate(-680deg);
  }
}

/* mask */
#mask {
  display: none;
}

.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  opacity: .8;
  z-index: 8;
  cursor: pointer;
  transition: all .5s;
}

/* SNSアイコン */
.header-icon ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px;
}

.header-icon ul li a {
  display: block;
  color: var(--white);
  font-size: 20px;
  padding: 7px;
  width: 38px;
}

@container style(--breakpoint: true) {
  .nav-area {
    background: transparent;
    left: 0;
    bottom: auto;
    width: 100%;
  }

  .nav-btn, .nav-btn span {
    display: none;
  }

  .nav-menu {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu_list {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .nav-menu_list li {
    width: fit-content;
    text-align: left;
  }

  .nav-menu ul li a {
    font-size: calc(0.65rem + 0.5vw);
    padding: 10px 16px;
  }

  .nav-menu ul li a img {
    width: 36px;
  }

  ul.nav-menu_icon li a {
    padding: 10px;
  }

  ul.nav-menu_icon li a img {
    width: 24px;
  }

  .header-icon {
    display: none;
  }

  .open #mask {
    display: none;
  }
}

/* ========================================================================== */
/* main */
/* ========================================================================== */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ========================================================================== */
/* ttl */
/* ========================================================================== */
.ttl {
  width: 100%;
}

.ttl_cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-image: url(/assets/img/common/main_img.png);
  height: 92vw;
}

.ttl_logo {
  position: relative;
  width: 45vw;
  top: 15vw;
  left: 11vw;
}

#ttl_anime .st0 {
  fill: none;
  stroke: #fff;
  stroke-width: 20;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
}

/* ========================================================================== */
/* information */
/* ========================================================================== */
.info {
  margin: 0 5vw 10vw;
  max-width: 1200px;
}

h2.ttl_01 {
  font-size: 3.28vw;
  font-weight: 300;
}

/* 日程 */
.info_schedule {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info_schedule p {
  font-size: 15.15vw;
  font-weight: 100;
  line-height: 1;
}

.info_schedule p.youbi {
  font-size: 7vw;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-bottom: -1.5vw;
}

/* 開場開演 */
.info_opst {
  display: flex;
  font-size: 6.5vw;
  font-weight: 200;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1.5rem;
}

.info_opst p.sp {
  margin: 0 1.5vw;
}

/* 場所 */
.info_place {
  display: flex;
  flex-direction: column;
  background: var(--primary);
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 2rem;
  padding: 1.5rem;
}

.place_map {
  position: relative;
  border-radius: 0.25rem;
  padding-top: 56.25%;
  margin-bottom: 1rem;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.place_map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.place_detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.place_btn {
  order: 1;
  margin-bottom: 1rem;
}

.place_btn a {
  display: block;
  background: var(--light);
  border-radius: 0.25rem;
  padding: 0.3rem 0.55rem;
  width: fit-content;
}

.place_btn a:hover {
  background: var(--white);
}

.place_name {
  order: 2;
  font-size: 1.15rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.place_address {
  order: 3;
  font-size: 0.88rem;
  margin-bottom: 0.5rem;
}

.plase_url {
  display: flex;
  order: 4;
}

.plase_url a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white);
  border-radius: 0.25rem;
  color: var(--white);
  padding: 0.3rem 0.5rem;
  margin-right: 0.7rem;
}

.plase_url a:hover {
  background: var(--white);
  color: var(--primary);
}

/* チケット料金 */
.info_ticket {
  margin: 0 0 2rem;
}

.info_ticket_ttl p {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 4px;
}

.info_ticket_ttl p::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--white);
  margin: 1rem 0;
  width: 4rem;
}

.info_ticket_price p {
  font-size: 1.35rem;
  font-weight: 200;
  letter-spacing: 4px;
  margin-bottom: 1rem;
}

.link_btn01 a {
  display: block;
  background: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 0.5rem;
  color: var(--white);
  padding: 0.5rem 0.75rem;
  width: fit-content;
}

.link_btn01 a:hover {
  background-color: var(--white);
  color: var(--secondary);
}

@container style(--breakpoint: true) {
  .info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(1rem + 0.5vw);
    margin: 0 calc(1rem + 0.5vw);
    align-items: center;
  }

  .info_ttl {
    width: 100%;
    text-align: center;
  }

  h2.ttl_01 {
    font-size: clamp(1rem, -0.569rem + 3.652vw, 2.4rem);
    line-height: 1;
  }

  .info_schedule p {
    font-size: clamp(4.8rem, -0.954rem + 12.5vw, 9.2rem);
  }

  .info_schedule p.youbi {
    font-size: clamp(2.2rem, -0.415rem + 6.154vw, 4.2rem);
    margin-bottom: -1vw;
  }

  .info_opst {
    position: relative;
    font-size: clamp(1.7rem, 0.000rem + 4vw, 3rem);
    font-weight: 200;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 1.3rem;
    margin: 0;
  }

  .info_opst::before {
    position: absolute;
    background-color: var(--white);
    top: 13%;
    left: 0;
    content: "";
    width: 1px;
    height: 80%;
  }

  .info_place {
    display: flex;
    flex-direction: row;
    gap: clamp(1rem, -0.308rem + 3.077vw, 2rem);
    margin: clamp(1rem, -0.308rem + 3.077vw, 2rem) 0 clamp(2rem, 0.222rem + 3.604vw, 3rem);
    padding: clamp(1rem, -0.308rem + 3.077vw, 2rem);
    width: 100%;
  }

  .place_map {
    border-radius: 0.5vw;
    margin-bottom: 0;
    padding-top: 32.25%;
    width: 52%;
  }

  .place_detail {
    flex: 1;
  }

  .place_btn {
    order: 4;
    margin-bottom: 0;
  }

  .place_btn a {
    font-size: 2vw;
    padding: 0.8vw 1.55vw;
  }

  .place_name {
    order: 1;
    font-size: clamp(1.3rem, -0.478rem + 3.604vw, 2.3rem);
    font-weight: 200;
    letter-spacing: 3px;
    margin-bottom: 1vw;
  }

  .plase_url {
    order: 2;
    margin-bottom: 2vw;
  }

  .plase_url a {
    padding: 0.5vw 0.75vw;
    margin-right: 0.7vw;
    font-size: clamp(1rem, 0.111rem + 1.852vw, 1.5rem);
  }

  .place_address {
    order: 3;
    margin-bottom: 1.5vw;
    font-size: clamp(1rem, 0.111rem + 1.852vw, 1.5rem);
  }

  .info_ticket {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 8rem;
    width: 100%;
  }

  .info_ticket_ttl p {
    font-size: clamp(2rem, 0.222rem + 3.604vw, 3rem);
    padding-right: 2.5vw;
    letter-spacing: 6px;
  }

  .info_ticket_ttl p::after {
    display: none;
  }

  .info_ticket_price {
    border-left: 1px solid var(--white);
    padding-left: 2.5vw;
  }

  .info_ticket_price p {
    font-size: clamp(2rem, 0.222rem + 3.604vw, 3rem);
    letter-spacing: 6px;
  }

  .link_btn01 a {
    font-size: clamp(1.3rem, 0.944rem + 0.741vw, 1.5rem);
    margin-bottom: 2.5vw;
    border-radius: 0.75vw;
    padding: 1.3vw 1.88vw;
  }
}

/* ========================================================================== */
/* band */
/* ========================================================================== */
.band {
  background-size: contain;
  background-repeat: repeat;
  background-position: top center;
  background-image: url(/assets/img/common/band_bg.png);
  border-radius: 0 10vw 0 0;
  padding: 2.5rem 5vw;
  margin: 0 auto 4rem 0;
  width: 100%;
}

h2.ttl_02 {
  text-align: center;
  margin-bottom: 3rem;
}

.band_flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.band_group {
  position: relative;
  background: var(--light);
  border-radius: 0.5rem;
  color: var(--primary);
  padding: 1.2rem 1rem 1rem;
  width: 55vw;
  min-width: 220px;
  z-index: 1;
}

.band_group.left {
  margin: 0 auto 4rem 0;
}

.band_group.center {
  margin: 0 auto 4rem;
}

.band_group.right {
  margin: 0 0 4rem auto;
}

.band_detail {
  position: absolute;
  background: var(--secondary);
  border-radius: 0 1rem 1rem 0;
  color: var(--white);
  font-size: 0.75rem;
  top: -0.88rem;
  left: -1px;
  padding: 0.35rem 0.75rem;
  width: fit-content;
  z-index: 2;
}

.center .band_detail {
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 1rem;
}

.right .band_detail {
  left: initial;
  right: -1px;
  border-radius: 1rem 0 0 1rem;
}

.band_name {
  font-weight: 200;
  font-size: 1.3rem;
  margin-bottom: 0.25rem;
}

.band_member {
  font-size: 0.9rem;
  line-height: 1.8;
}

@container style(--breakpoint: true) {
  .band {
    background-size: cover;
    background-repeat: repeat-y;
    padding: 10vw;
    padding-top: 8vw;
    padding-right: 6vw;
    padding-bottom: 6vw;
    margin: 0 auto 10rem 0;
    max-width: clamp(45.98rem, -25.878rem + 149.704vw, 86.4rem);
  }

  .band_flexbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(1.5rem, -0.278rem + 3.604vw, 2.5rem);
  }

  .band_flexbox .fade {
    transition-delay: calc(var(--i) * 0.15s);
  }

  .band_flexbox .fade:nth-child(1) {
    --i: 0;
  }

  .band_flexbox .fade:nth-child(2) {
    --i: 1;
  }

  .band_flexbox .fade:nth-child(3) {
    --i: 2;
  }

  .band_flexbox .fade:nth-child(4) {
    --i: 0;
  }

  .band_flexbox .fade:nth-child(5) {
    --i: 1;
  }

  .band_flexbox .fade:nth-child(6) {
    --i: 2;
  }

  .band_flexbox .fade:nth-child(7) {
    --i: 0;
  }

  .band_flexbox .fade:nth-child(8) {
    --i: 1;
  }

  h2.ttl_02, .band_group {
    width: auto;
    min-width: auto;
  }

  h2.ttl_02 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(2rem, 0.222rem + 3.604vw, 3rem);
    letter-spacing: 6px;
  }

  .band_group.left, .band_group.center, .band_group.right {
    margin: 0;
    padding: 2vw 2vw 1.25vw;
  }

  .band_detail, .center .band_detail, .right .band_detail {
    border-radius: 0 100vh 100vh 0;
    color: var(--white);
    font-size: clamp(0.65rem, 0.028rem + 1.296vw, 1rem);
    top: clamp(-0.9rem, -0.011rem + -1.852vw, -1.4rem);
    left: -1px;
    right: auto;
    padding: 0.75vw 1.35vw;
  }

  .band_name {
    font-size: clamp(1.3rem, 0.775rem + 1.094vw, 1.65rem);
    margin: 0.25rem 0 0.2rem;
  }

  .band_member {
    font-size: clamp(0.85rem, -0.128rem + 2.037vw, 1.4rem);
    line-height: 1.7;
  }

  .band_space {
    position: relative;
  }

  .band_space_img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

/* ========================================================================== */
/* timetable */
/* ========================================================================== */
.timetable {
  background: var(--light);
  border-radius: 10vw 0 0 10vw;
  color: var(--black);
  margin: 0 0 5rem auto;
  padding: 10vw 0 10vw 13vw;
  width: fit-content;
  min-width: 300px;
}

h2.ttl_03 {
  color: var(--secondary);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.timetable_inner {
  font-size: 1.2rem;
  font-weight: 300;
}

.tt_t {
  padding: 0 0.88rem 0.88rem 0;
  font-family: 'Noto Sans JP';
  font-weight: 700;
}

@container style(--breakpoint: true) {
  .timetable {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(1rem, -0.308rem + 3.077vw, 2rem);
    justify-content: flex-end;
    padding: 9vw 10vw 9vw 11vw;
  }

  h2.ttl_03 {
    color: #bababa;
    font-size: clamp(3.7rem, -1.633rem + 11.111vw, 6.7rem);
    font-weight: 800;
    text-align: center;
    margin-bottom: 0;
    letter-spacing: 8px;
    width: fit-content;
    writing-mode: vertical-rl;
    order: 2;
  }

  .timetable_inner {
    font-size: clamp(1.5rem, -0.278rem + 3.704vw, 2.5rem);
    line-height: 2;
    letter-spacing: 5px;
    order: 1;
  }
}

/* ========================================================================== */
/* ticket */
/* ========================================================================== */
.ticket {
  background: var(--secondary);
  padding: 5vw;
}

h2.ttl_04 {
  text-align: center;
  margin-bottom: 1rem;
}

.link_btn02 a {
  display: block;
  background: var(--white);
  border: 1px solid var(--secondary);
  border-radius: 0.5rem;
  color: var(--secondary);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.75rem 1.25rem;
  margin: 1rem auto;
  width: fit-content;
}

.link_btn02 a:hover {
  background: var(--secondary);
  color: var(--white);
  border: 1px solid var(--white);
}

@container style(--breakpoint: true) {
  .ticket {
    padding: 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    margin: 0 calc(50% - 50vw);
    width: 100vw;
  }

  h2.ttl_04 {
    font-size: clamp(2rem, -1.556rem + 7.407vw, 4rem);
    font-weight: 100;
    letter-spacing: 5px;
    text-align: left;
  }

  .ticket_detail {
    font-size: clamp(1rem, -0.778rem + 3.704vw, 2rem);
    text-align: center;
  }

  .link_btn02 a {
    border-radius: 0.5vw;
    font-size: clamp(1.05rem, 0.250rem + 1.667vw, 1.5rem);
    font-weight: 500;
    padding: 0.75vw 1.25vw;
  }

  .ticket_detail {
    font-size: 2.2vw;
    border: 1px solid var(--white);
    border-radius: 0.5vw;
    padding: 3vw;
  }
}

/* ========================================================================== */
/* footer */
/* ========================================================================== */
footer {
  position: relative;
  text-align: center;
  padding: 3rem 0;
}

.copyright {
  font-size: 1.25rem;
}

.copyright a {
  color: ;
}

/* トップへ戻るボタン */
.pagetop {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.pagetop a {
  display: block;
  border: 2px solid var(--white);
  border-radius: 50%;
  color: var(--white);
  font-size: 44px;
  line-height: 1.2;
  margin: 10px;
  width: 58px;
  height: 58px;
}

.pagetop a:hover {
  background: var(--white);
  color: var(--primary);
}

.to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
  pointer-events: none;
}

.to-top.is-active {
  pointer-events: auto;
}