@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
  --primary: #3B5362;
  --secondary: #CD1F56;
  --background: #040F1D;
  --white: #fff;
  --black: #252525;
  --primary-dark: #1D2131;
  --primary-light: #658090;
  --light-beige: #B69385;
  --light: #f8f9fa;

  --breakpoint: false;

  @media (min-width: 768px) {
    --breakpoint: true;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--white);
  font-family: "Lexend Deca", "Noto Sans JP", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 2px;
  min-height: 1000px;
}

a {
  color: var(--primary);
  text-decoration: none;
  background-color: transparent;
}

/*  ========================================================================== */
/* header */
/*  ========================================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 5;
}

#headerNav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* ハンバーガーメニュー */
.nav-area {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background: var(--primary);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: .5s;
  z-index: 3;
}

.open .nav-area {
  left: 0;
}

.nav-area {
  left: -240px;
  width: 240px;
}

/* メニュー */
.nav-menu {
  margin: 80px 0 10px;
}

.nav-menu ul li {
  position: relative;
  margin: 0;
}

.nav-menu_list {
  display: flex;
  flex-direction: column;
}

.nav-menu_list li {
  width: 100%;
  text-align: left;
}

.nav-menu ul li a {
  display: block;
  color: var(--white);
  font-size: 18px;
  padding: 16px 0 16px 36px;
  letter-spacing: 3px;
}

.nav-menu ul li a img {
  width: 36px;
}

.nav-menu_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 28px;
}

ul.nav-menu_icon li a {
  padding: 10px;
}

/* btn */
.nav-btn {
  position: relative;
  width: 68px;
  height: 68px;
  cursor: pointer;
  z-index: 100;
}

.nav-btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  border-radius: 2px;
}

.nav-btn, .nav-btn span {
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
}

.nav-btn span:nth-of-type(1) {
  top: 15px;
  left: 13px;
  width: 40px;
}

.nav-btn span:nth-of-type(2) {
  top: 28px;
  left: 13px;
  width: 32px;
}

.nav-btn span:nth-of-type(3) {
  top: 41px;
  left: 13px;
  width: 24px;
}

#headerNav .nav-btn::after {
  position: absolute;
  top: 80%;
  left: 80%;
  display: block;
  content: '';
  width: 48px;
  height: 48px;
  margin: -45px 0 0 -45px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all .75s;
}

#headerNav.open .nav-btn span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  top: 13px;
  left: 18px;
  width: 30px;
}

#headerNav.open .nav-btn span:nth-of-type(2) {
  left: 60%;
  opacity: 0;
  -webkit-animation: open-headerNav-bar02 .8s forwards;
  animation: open-headerNav-bar02 .8s forwards;
}

@-webkit-keyframes open-headerNav-bar02 {
  100% {
    height: 0;
  }
}

@keyframes open-headerNav-bar02 {
  100% {
    height: 0;
  }
}

#headerNav.open .nav-btn span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  top: 53px;
  left: 18px;
  width: 30px;
}

#headerNav.open .nav-btn::after {
  -webkit-animation: open-headerNav .7s .25s forwards;
  animation: open-headerNav .7s .25s forwards;
}

@-webkit-keyframes open-headerNav {
  0% {
    border-color: transparent;
    -webkit-transform: rotate(0);
  }

  25% {
    border-color: transparent var(--white) transparent transparent;
  }

  50% {
    border-color: transparent var(--white) var(--white) transparent;
  }

  75% {
    border-color: transparent var(--white) var(--white) var(--white);
  }

  100% {
    border-color: var(--white);
    -webkit-transform: rotate(-680deg);
  }
}

@keyframes open-headerNav {
  0% {
    border-color: transparent;
    transform: rotate(0);
  }

  25% {
    border-color: transparent var(--white) transparent transparent;
  }

  50% {
    border-color: transparent var(--white) var(--white) transparent;
  }

  75% {
    border-color: transparent var(--white) var(--white) var(--white);
  }

  100% {
    border-color: var(--white);
    transform: rotate(-680deg);
  }
}

/* mask */
#mask {
  display: none;
}

.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  opacity: .8;
  z-index: 2;
  cursor: pointer;
  transition: all .5s;
}

/* SNSアイコン */
.header-icon ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px;
}

.header-icon ul li a {
  display: block;
  color: var(--white);
  font-size: 20px;
  padding: 8px;
}

/*  ========================================================================== */
/* ttl */
/*  ========================================================================== */
.ttl_cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(/assets/img/common/main_img.png);
  height: 100vw;
}

.ttl_logo {
  position: relative;
  width: 45vw;
  top: 15vw;
  left: 11vw;
}

#ttl_anime .st0 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 20;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
}